body{
    font-family: Arial;
}
main{
    position: relative;
    width: 1280px;
    height: 600px;
    user-select: none;
    overflow: hidden;
}
input{
    display: none;
}
fieldset{
    border:0;
    padding: 0;
    margin: 0;
}
main label{
    cursor: pointer !important;
}
main .scene{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .3s linear;
    will-change: opacity;
}
main [name=scene]:not(:checked) + .scene{
    opacity: 0;
    z-index: -1;
}
svg path{
    fill: currentColor;
}

/* Сарай */
main .scene1{
    background: url(img/saray.jpg) no-repeat bottom;
    background-size: 100%;
}
[for="scene2"]{
    position: absolute;
    transform: translate(668px, 180px);
    width: 200px;
    height: 240px;
}
[for="scene2"]:before{
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform .5s ease-out, opacity .5s linear;
}
[for="scene2"]:hover:before{
    transform: translate(calc(-100% - 30px), -50%);
    opacity: .9;
}
[for="scene2"]:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E%0A") repeat-x;
    position: absolute;
    background-size: 100%;
    top: 50%;
    left: 0;
    height: 28px;
    width: 28px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform .3s ease-out, opacity .3s ease-out;
    will-change: transform, opacity;
}
[for="scene2"]:hover:after{
    animation: arrow 1s linear infinite;
    transform: translate(-100%, -50%);
    opacity: .9;
}
@keyframes arrow {
    to{ background-position: 28px; }
}
/* Ящик */
.box{
    position: absolute;
    bottom: 200px;
    left: 66px;
}
.scene{
    perspective: 500px;
}
.box {
    width: 100px;
    margin: 5em auto 0;
    transform-style: preserve-3d;
    transform: rotatex(0deg) rotateY(70deg) rotateZ(360deg);
}
.side {
    position: absolute;
    width: 10em;
    height: 10em;
    background: url(img/wood.jpg);
    border: 1px solid #663407;
}
.back {
    transform: translateZ(-5em) translateY(-3em);
    height: 13em;
}
.left {
    transform: translateX(-5em) rotateY(90deg) translateY(-3em);
    height: 13em;
}
.right {
    transform: translateX(5em) rotateY(90deg) translateY(-3em);
    height: 13em;
}
.top {
    transform: translateY(-8em) rotateX(90deg);
}
.bottom {
    transform: translateY(5em) rotateX(90deg);
}
.front {
    transform: translateZ(5em) translateY(-3em);
    height: 13em;
    background: none;
    display: flex;
}
.front:before,
.front:after{
    content: '';
    background: url(img/wood.jpg);
    width: 50%;
    height: 100%;
    border: 1px solid #663407;
    transition: transform 1s 1s ease-out;
    will-change: transform;
    transform-origin: 0;
}
.front:after{
    transform-origin: 100%;
}
#openControl:checked ~ .scene .box .front:before{
    transform: rotateY(-180deg);
}
#openControl:checked ~ .scene .box .front:after{
    transform: rotateY(180deg);
}
#openControl:checked ~ .scene .box .front{
    pointer-events: none;
}
/* Замок */
.box .lock {
    width: 34px;
    transform: translate(-50%, -50%)translateZ(1px);
    height: 50px;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(img/lock.png);
    background-size: 100%;
    opacity: 1;
    transition: opacity 1s ease-out;
    will-change: opacity;
    z-index: 2;
    cursor: pointer;
    animation: derg .5s linear;
    transform-origin: 50% 0;
}
.box .lock:active{
    animation:none;
}
@keyframes derg {
    33%{
        transform: translate(-50%, -50%)translateZ(1px)rotateZ(5deg)
    }
    66%{
        transform: translate(-50%, -50%)translateZ(1px)rotateZ(-5deg)
    }
}
#openControl:checked ~ .scene .box .lock{
    opacity: 0;
    pointer-events: none;
}
.lock [for="openControl"]{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#keyControl:checked ~ .scene .lock [for="openControl"]{
    display: block;
}
/* Ковер */
.kovr{
    background: url(img/kovr.png) no-repeat;
    background-size: 100%;
    width: 200px;
    height: 108px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(840px, 480px) skew(-40deg);
    transition: transform .3s linear;
    will-change: transform;
}
#kovrControl:checked ~ .scene .kovr{
    transform: translate(880px, 480px) skew(-40deg);
}
/* Ключ */
.key{
    background: url(img/key.png);
    width: 50px;
    height: 16px;
    background-size: 100%;
}
.key{
    position: absolute;
    top: 0;
    left: 0;
    color: #655e5b;
    z-index: -1;
    transform: translate(886px, 490px) rotate(-45deg);
    transition: transform 1s ease-out;
    will-change: transform;
}
#keyControl:checked ~ .scene .key{
    transform: translate(1200px, 30px) rotate(90deg);
    width: 100px;
    height: 32px;
}
/* Лопата */
[for="lopataControl"]{
    position: absolute;
    top: 0;
    right: 0;
    color: #655e5b;
    z-index: -1;
    transform: translate(-138px, 330px) rotate(-25deg) scaleX(-1);
    transition: transform 1s ease-out;
    will-change: transform;
    background: url(img/lopata.png);
    background-size: 100%;
    width: 150px;
    height: 140px;
}
#lopataControl:checked ~ .scene [for="lopataControl"]{
    transform: translate(-40px, 450px) rotate(205deg) scale(1.5);
    z-index: 2;
}

/* Двор */
main .scene2{
    background: url(img/dvor.jpg) no-repeat bottom;
    background-size: 100%;
}
[for="scene1"]{
    position: absolute;
    width: 100px;
    height: 100%;
}
[for="scene1"]:before{
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 2px 4px #888;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform .5s ease-out, opacity .5s linear;
}
[for="scene1"]:hover:before{
    transform: translate(100%, -50%);
    opacity: .9;
}
[for="scene1"]:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E%0A") repeat-x;
    position: absolute;
    background-size: 100%;
    top: 50%;
    right: 0;
    height: 28px;
    width: 28px;
    transform: translate(-50%, -50%)scaleX(-1);
    opacity: 0;
    transition: transform .3s ease-out, opacity .3s ease-out;
    will-change: transform, opacity;
}
[for="scene1"]:hover:after{
    animation: arrow 1s linear infinite;
    transform: translate(70%, -50%)scaleX(-1);
    opacity: .9;
}
/* Сугроб */
.scene2 [for="snowControl"]{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(510px, 250px);
    width: 188px;
    height: 62px;
    display: none;
    z-index: 2;
}
#lopataControl:checked ~ .scene [for="snowControl"]{
    display: block;
}
/* Голова снеговика */
.snowball{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(900px, 250px) scale(10);
    width: 10px;
    height: 8px;
    background: url(img/head.png);
    border-radius: 100%;
    display: none;
    background-size: 100%;
}
#snowControl:checked ~ .scene .snowball{
    display: block;
}
/* Топор */
[for="toporControl"]{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30px, 0px) rotate(20deg);
    transition: transform 1s ease-out;
    will-change: transform;
    background: url(img/topor.png);
    background-size: 100%;
    width: 100px;
    height: 140px;
}
#toporControl:checked ~ .scene [for="toporControl"]{
    transform: translate(-130px, 34px) scale(1) translateZ(250px) rotateY(0) rotateX(30deg) rotateZ(50deg);
    z-index: 9;
}
/* Ветка */
.branch{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-10px, 120px);
    width: 300px;
    height: 130px;
    background: url(img/branch.png);
    background-size: 100%;
}
.branch [for="handsControl"]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
#toporControl:checked ~ .scene [for="handsControl"]{
    display: block;
}
#handsControl:checked ~ .scene .branch{
    display: none;
}
[for="handsControl"]:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleX(-1);
    opacity: 0;
    transition: transform .5s ease-out, opacity .5s linear;
    background: url(img/topor.png);
    background-size: 100%;
    width: 50px;
    height: 70px;
}
[for="handsControl"]:hover:before{
    transform: translate(-100%, -50%) scaleX(-1) rotate(40deg);
    opacity: .9;
}
[for="handsControl"]:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E%0A") repeat-x;
    position: absolute;
    background-size: 100%;
    top: 50%;
    left: 0;
    height: 28px;
    width: 28px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform .3s ease-out, opacity .3s ease-out;
    will-change: transform, opacity;
}
[for="handsControl"]:hover:after{
    animation: arrow 1s linear infinite;
    transform: translate(-100%, -50%);
    opacity: .9;
}
/* Руки снеговика */
.hands{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-180px, 286px);
    width: 404px;
    height: 76px;
    display: none;
    justify-content: space-between;
}
.hands:before,
.hands:after{
    content: '';
    width: 150px;
    height: 70px;
    background: url(img/branch.png);
    background-size: 100%;
}
.hands:after{
    transform: scaleX(-1);
}
#handsControl:checked ~ .scene .hands{
    display: flex;
}
/* Финал */
fieldset:valid + .final{

}




body:before{
    content: none;
}
main{
    display: block;
}
